main {
    min-height: 80vh;
}

.rating i {
    margin: 2px;
}

.cart {
    position: relative;
}

.notification {
    color: white;
    text-align: center;
    background-color: red;
    width: 1.1rem;
    height: 1.1rem;
    font-size: .6rem;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 13px;
}

.brandName {
    font-family: 'Lobster', cursive;
}

@media (max-width: 600px) {
    h4 {
        font-size: 13px;
    }
    h3 {
        font-size: 16px;
    }
    h1 {
        font-size: 16px;
    }
}


/* carousel  */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}